<div class="row">
    <div class="col-md-12">
        Banknotlar
        <br>
        <div class="float-left">
          Toplam Adet:<strong>{{getTotalQuantity()}}</strong><br>Toplam Tutar:<strong>{{getTotalAmount()}} TL</strong>
        </div>
      <div class="float-right">
        <button class="mr-2" mat-button mat-flat-button color="primary"  (click)="AddBanknotes()">Kaydet</button>
        <button mat-button mat-flat-button color="warn" (click)="CloseDialog()">Kapat</button>
      </div>
    </div>
</div>
<div style="overflow:auto;">
  <table class="col-md-12" mat-table #BanknoteTypes [dataSource]="tableSourceBanknote">
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Banknot</th>
      <td mat-cell *matCellDef="let banknoteTypes"><span style="font-weight: bold;">{{banknoteTypes.value}} TL</span></td>
      <td mat-footer-cell *matFooterCellDef>Toplam</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Adet</th>
      <td mat-cell *matCellDef="let banknoteTypes">
        <mat-form-field (click)="banknoteTypes.quantity=null">
          <input matInput placeholder="Adet" type="number"
          value="{{banknoteTypes.quantity}}"
          [(ngModel)]="banknoteTypes.quantity"/>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Toplam</th>
        <td mat-cell *matCellDef="let banknoteTypes">{{(banknoteTypes.value * banknoteTypes.quantity).toFixed(2)}} TL</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumnsBanknote; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns:tableColumnsBanknote;"></tr>
  </table>
</div>
