<div class="container-fluid">
  <div class="dialog-header">
    <i class="fa fa-cloud-upload"></i>
    <h4 mat-dialog-title>Dosya Gönderimi</h4>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <button class="btn-file scale" (click)="sendScaleFile()">
        <i class="fa fa-balance-scale"></i>
        <span>Terazi Dosyası Gönder</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn-file product" (click)="sendProductFile()">
        <i class="fa fa-cube"></i>
        <span>Ürün Dosyası Gönder</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn-file cashier" (click)="sendCashierFile()">
        <i class="fa fa-address-card"></i>
        <span>Kasiyer Dosyası Gönder</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn-file promotion" (click)="sendPromotionFile()">
        <i class="fa fa-cart-plus"></i>
        <span>Promosyon Dosyası Gönder</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn-file customer" (click)="sendCustomerFile()">
        <i class="fa fa-users"></i>
        <span>Müşteri Dosyası Gönder</span>
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>