<div class="container-fluid">
    <h4 mat-dialog-title>Dosya Gönderimi</h4>
    <div class="row">
  
      <div class="col-md-4">
        <button class="text-wrap"  >
          <i class="fa fa-balance-scale"></i>
          Terazi Dosyası Gönder
        </button>
      </div>
      <div class="col-md-4">
        <button class="text-wrap"   >
          <i class="fa fa-cube"></i>
          Ürün Dosyası Gönder
        </button>
      </div>
      <div class="col-md-4">
        <button class="text-wrap"  >
          <i class="fa fa-address-card"></i>
          Kasiyer Dosyası Gönder
        </button>
      </div>
      <div class="col-md-4">
        <button class="text-wrap"   >
          <i class="fa fa-cart-plus"></i>
          Promosyon Dosyası Gönder
        </button>
      </div>
      <div class="col-md-4">
        <button class="text-wrap"  >
          <i class="fa fa-users"></i>
          Müşteri Dosyası Gönder
        </button>
      </div>

  
    </div>
  </div>