<div class="row">
    <div class="col-md-12">
        Mağaza Giderleri
      <div class="float-right">
        <button class="mr-2" mat-button mat-flat-button color="primary" 
        [disabled]="storeExpensesData.length<=0" (click)="AddStoreExpenses()">Kaydet</button>
        <button mat-button mat-flat-button color="warn" (click)="CloseDialog()">Kapat</button>
      </div>
    </div>
</div>
<mat-grid-list [cols]="4" [rowHeight]="85" [formGroup]="storeExpensesForm">
    <mat-grid-tile [colspan]="1">
        <mat-form-field class="col-md-12">
          <mat-select matInput placeholder="Mağaza Gider Tipi" formControlName="storeExpensesType">
            <mat-option *ngFor="let storeExpensesType of storeExpensesList" [value]="storeExpensesType.paymentTypeNo">
                {{storeExpensesType.paymentName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <mat-form-field class="col-md-12">
              <input matInput placeholder="Açıklama" formControlName="description" >
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field class="col-md-12">
            <input matInput placeholder="Tutar" formControlName="amountValue" type="number">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<button class="col-md-12" mat-button mat-flat-button color="primary" [disabled]="!storeExpensesForm.valid" (click)="AddToCart()">Mağaza Gideri Ekle</button>
  <div style="height: 450px;overflow:auto">
  <table mat-table #storeExpenses [dataSource]="tableSource" class="col-md-12 mt-3">
    <ng-container matColumnDef="storeExpensesType">
      <th mat-header-cell *matHeaderCellDef>Mağaza Gider Tipi</th>
      <td mat-cell *matCellDef="let storeExpensesArray">{{storeExpensesArray.storeExpensesType}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Açıklama</th>
      <td mat-cell *matCellDef="let storeExpensesArray">{{storeExpensesArray.description}}</td>
    </ng-container>
    <ng-container matColumnDef="amountValue">
      <th mat-header-cell *matHeaderCellDef>Tutar</th>
      <td mat-cell *matCellDef="let storeExpensesArray">{{storeExpensesArray.amountValue}} TL</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let storeExpensesArray">
            <button mat-button mat-flat-button type="button" class="btn btn-sm btn-danger" (click)="removeLine(storeExpensesArray)">
                <i class="fa fa-remove"></i></button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns:tableColumns;"></tr>
  </table>
  </div>