<div class="row">
    <div class="col-md-12">
        Vadeli Satış
        <br>
        <div class="float-left">
          Toplam Adet:<strong>{{getTotalQuantity()}}</strong><br>Toplam Tutar:<strong>{{getTotalAmount() | currency: ' '}} TL</strong>
        </div>
      <div class="float-right">
        <button class="mr-2" mat-button mat-flat-button color="primary"  (click)="AddOnlineSalesChecks()">Kaydet</button>
        <button mat-button mat-flat-button color="warn" (click)="CloseDialog()">Kapat</button>
      </div>
    </div>
</div>
<div style="overflow:auto;">
  <table class="col-md-12" mat-table #OnlineSalesChecks [dataSource]="tableSourceOnlineSalesChecks">
    <ng-container matColumnDef="paymentName">
      <th mat-header-cell *matHeaderCellDef>Online Satış</th>
      <td mat-cell *matCellDef="let onlineSale"><span style="font-weight: bold;">{{onlineSale.paymentName}}</span></td>
    </ng-container>
    <ng-container matColumnDef="slipNumber">
      <th mat-header-cell *matHeaderCellDef>Slip Sayısı</th>
      <td mat-cell *matCellDef="let onlineSale">
        <mat-form-field (click)="onlineSale.slipNumber = null">
          <input matInput placeholder="Adet" type="number"
            value="{{onlineSale.slipNumber}}"
            (input)="onlineSale.slipNumber=(+$event.target.value)"
            [(ngModel)]="onlineSale.slipNumber"/>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="amountValue">
      <th mat-header-cell *matHeaderCellDef>Toplam</th>
      <td mat-cell *matCellDef="let onlineSale">
        <mat-form-field (click)="onlineSale.amountValue = null">
          <input matInput placeholder="Tutar" type="number"
          value="{{onlineSale.amountValue}}"
          (input)="onlineSale.amountValue=(+$event.target.value)" 
          [(ngModel)]="onlineSale.amountValue"/>
       </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumnsOnlineSalesChecks; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns:tableColumnsOnlineSalesChecks;"></tr>
  </table>
</div>
